header {
    background-color: #FFFFFF;
    height: 60px;
    border-bottom: 1px solid #CCC;
}

.logo {
    flex: 1;
}

.logo-1, .logo-2, .logo-3 {
    font-size: 27px;
    font-weight: bold;
}

.logo-1 {
    color: #FF0000;
}

.logo-2 {
    color: #00FF00;
}

.logo-3 {
    color: #0000FF; 
}